{% extends 'base.html' %}

{% block title %} Registrar Empleado {% endblock title %}

{% block content %}

{% include 'includes/header.html' %}

<div class="container">

    <div class="row mt-5">
        <div class="col-12">
            <h1 class="mb-3">Registrar Empleado</h1>
            <hr>
        </div>

        <div class="col-md-5">
            <form method="POST">
                {% csrf_token %}

                <label>Nombre:</label>
                {{ form.first_name }}
                <label>Apellido:</label>
                {{ form.last_name }}
                <label>Nacimiento:</label>
                {{ form.fecha_nacimiento }}
                <label>Job:</label>
                {{ form.job }}
                <label>Departamento:</label>
                {{ form.departamento }}
                <label>Habilidades:</label>
                {{ form.habilidades }}

                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>

    </div>
</div>

{% endblock content %}
{% comment %} <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
</form> {% endcomment %}