{% extends 'base.html' %}

{% block title %} Registrar Empleado {% endblock title %}

{% block content %}

{% include 'includes/header.html' %}

<div class="container">

    <div class="row mt-5">
        <div class="col-12">
            <h1 class="mb-3">Registrar Empleado</h1>
            <hr>
        </div>

        <div class="col-md-5">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <label>Nombre:</label>
                {{ form.first_name }}
                <label>Apellido:</label>
                {{ form.last_name }}
                <label>Nacimiento:</label>
                {{ form.fecha_nacimiento }}
                <label>Job:</label>
                {{ form.job }}
                <label>Departamento:</label>
                {{ form.departamento }}
                <label>Habilidades:</label>
                <div class="col-12" style="margin: -10px -30px;">
                    {{ form.habilidades }}
                </div>
                <label>Avatar:</label>
                {{ form.avatar }}

                <div class="col-12 mt-3">
                    <button type="submit" class="btn btn-primary float-end">Guardar</button>
                    <a class="btn btn-secondary float-end mx-2" href="{% url 'persona_app:empleados' %}">Volver</a>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock content %}
